.btnBuy{
width: 140px;
height: 40px;
background-color: rgb(238, 111, 0);
color: rgb(15, 14, 14);
border: 1px solid forestgreen;
border-radius: 20px;
}
.totaladded{
    color: rgb(26, 24, 24);
}
.totaladdedagain{
    color: black;
}