.headerimg{ 
     background-image: url(../../images/bookheader.jpg) ;
     
     
     width: 100%; 
     height: 180px;
     margin-top: -20px;
     border-radius: 2px;
    
    
}
.textcolor{
     color: rgb(255, 255, 255);
     font-weight: 900;
}
.headline{
      color: rgb(254, 254, 255);
     
}
.textcolorOther{
     color: rgb(94, 255, 0);
}